.usmap {
  display: flex;
  flex-direction: row;
  border: 3px solid rgb(229, 216, 242);
  border-radius: 180px;
  margin-left: 5em;
  margin-right: 5em;
  background-color: rgb(229, 216, 242);
  position: sticky;
  margin-top: -4em;
}

.coronaPic {
  width: 100%;
  height: auto;
}

.usPicture {
  width: 80%;
  height: auto;
}

// .usContainer {
//   margin-top: -100px;
// }

.info {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  p {
    padding-left: 1em;
    padding-right: 1em;
  }
}
.infoUs {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.status {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  @media screen and (min-width: 650px) {
    font-size: 1em;
  }
  @media screen and (min-width: 700px) {
    font-size: 1.3em;
  }
  @media screen and (min-width: 850px) {
    font-size: 1.6em;
  }
  @media screen and (min-width: 1050px) {
    font-size: 1.8em;
  }
  @media screen and (min-width: 1300px) {
    font-size: 2.5em;
  }
  @media screen and (min-width: 1500px) {
    font-size: 3.3em;
  }
}

.confirmed {
  color: rgb(255, 132, 0);
}

.dead {
  color: rgb(187, 16, 16);
}

.recovered {
  color: rgb(56, 202, 98);
}

.facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  li {
    font-size: 30px;
    @media screen and (min-width: 0px) {
      font-size: 0.6em;
    }
    @media screen and (min-width: 700px) {
      font-size: 0.9em;
    }
    @media screen and (min-width: 850px) {
      font-size: 1.2em;
    }
    @media screen and (min-width: 1050px) {
      font-size: 1.5em;
    }
    @media screen and (min-width: 1300px) {
      font-size: 1.8em;
    }
    @media screen and (min-width: 1500px) {
      font-size: 2.2em;
    }
  }
  .factsTitle {
    font-size: 40px;
    @media screen and (min-width: 0px) {
      font-size: 1em;
    }
    @media screen and (min-width: 700px) {
      font-size: 1.3em;
    }
    @media screen and (min-width: 850px) {
      font-size: 1.6em;
    }
    @media screen and (min-width: 1050px) {
      font-size: 1.8em;
    }
    @media screen and (min-width: 1300px) {
      font-size: 2.5em;
    }
    @media screen and (min-width: 1500px) {
      font-size: 3.3em;
    }
  }
}
