@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

.countycontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  @media screen and (min-width: 1px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 550px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 650px) {
    grid-template-columns: 1fr;
  }
  @media screen and (min-width: 780px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (min-width: 1600px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card {
  border-radius: 0px 51px 0px 51px;
  -moz-border-radius: 0px 51px 0px 51px;
  -webkit-border-radius: 0px 51px 0px 51px;
  border: 0px solid #000000;
  -webkit-box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 2px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: bisque;
  margin: 20px 20px 20px 20px;
  p {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  h3 {
    margin-bottom: 10px;
    letter-spacing: -0.03em;
  }
}

.stateTitle {
  font-family: "Ultra", serif;
  text-align: center;

  @media screen and (min-width: 1px) {
    font-size: 4em;
  }
  @media screen and (min-width: 900px) {
    font-size: 5em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 6em;
  }
}

// for loading

.loader {
  border: 3px solid #d6336c;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader2 {
  border: 3px solid #3bc9db;
  width: 220px;
  height: 220px;
  position: relative;
  top: -216px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader3 {
  border: 3px solid #d6336c;
  width: 240px;
  height: 240px;
  position: relative;
  top: -452px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
#loader4 {
  border: 3px solid #3bc9db;
  width: 260px;
  height: 260px;
  position: relative;
  top: -708px;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}
@keyframes rotate {
  0% {
    transform: rotateZ(-360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
@keyframes rotate2 {
  0% {
    transform: rotateZ(360deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}
#text {
  color: black;
  font-family: Arial;
  font-size: 20px;
  position: relative;
  top: -857px;
}
